.App {
  text-align: center;
}

@font-face{
  font-family: "BackIssues";
  src: url('backissues.woff'), url('backissues.woff2'), url('backissues.ttf');
}

.Header {
  height:160px;
  width:100%;
  position:fixed;
  background-color: #DA344D;
  border-bottom: solid black 2px;
}

.title{
  margin-top: 10px;
  font-size: 4vw;
  font-family: 'Bangers', cursive;
  color: #4062BB;
  -webkit-text-stroke: 2px #FFC857;

}

.navitem{
  font-family: 'BackIssues';
  background-color: #fffafa;
  font-size: 15px;
  height: 30px;
  margin:auto;
  vertical-align: middle;
  line-height: 30px;
  border: solid black 2px;
}

#stuff{
  width: 100px;
}

#morestuff{
  width: 150px;
}

#snow{
  width: 90px;
}

#itemholder{
  margin-top: 20px;
  position: relative;
  left: 25%;
  display: flex;
  flex-direction: row;
  width: 50%;
}

#cart{
  background-color: #fffafa;
  width: 100px;
  height: 100px;
  position: fixed;
  right: 100px;
  top: 30px;
  border: solid black 2px;
  
}

#cartbutton{
  background-color: #fffafa;
  width: 100px;
  height: 100px;
  position: fixed;
  right: 100px;
  top: 30px;
  border: solid black 2px;
}

#featured{
  width: 200px;
  height: 60px;
  border:  black 2px;
  top: 210px;
  left: 100px;
  position: fixed;
  background-image: url("featured.svg");
}

